body {
    margin: 0;
    font-family: "Helvetica Neue LT GEO 55 Roman";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #272a37;
    text-align: left;
    background-color: #f2f3f6;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

button,
input {
    outline: 0 !important;
    padding: 0;
}

button {
    background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}

input::-ms-clear {
    display: none;
}

input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 0s ease-in-out 0s;
}


//new
//*::-webkit-scrollbar {
//    width: 0;
//}

.container {
    padding: 50px 0;
    max-width: 1050px;
    margin: 0 auto;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
li,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}