.App {
  text-align: center;
  padding: 10px;
}
*{
  box-sizing: border-box;
}
.content{
  max-width: 900px;
  padding: 50px 0;
  margin:0 auto 50px;
}
.title{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}
button{
  height: 32px;
  padding: 0 20px;
  margin: 0 10px;
  border: solid 1px #ccc;
  background-color: #f8f8f8;
  outline: none;
  cursor: pointer;
  -webkit-transition:  0.4s ;
  -moz-transition:  0.4s ;
  -o-transition: 0.4s ;
  transition:  0.4s ;
}
button:hover{
  background-color: #ccc;
}
input{
  height: 36px;
  padding: 5px 10px;
  font-size:14px;
  border: solid 1px #ccc;
  outline: none;
}
.listing{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item{
  width: 18%;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 3px 4px 14px 0px #b5b5b5;
}
.desc{
  font-size: 14px;
}
.poster{
  
}
.poster img{max-width:100%}
.error{
  font-size:14px;
  margin-top: 20px;
  color: #d64949;
}
.serror{
  font-size:14px;
  padding: 20px 0;
  line-height: 20px;
  color: #d64949;
}