.App {
  text-align: center;
  padding: 10px;
}

.title{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

input{
  height: 36px;
  padding: 5px 10px;
  font-size:14px;
  border: solid 1px #ccc;
  outline: none;
}
.listing{
  background-color: #ccc;
  padding: 20px;
  margin-top: 20px;
}
.item{
  text-align: left;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
}
.desc{
  font-size: 14px;
}
.error{
  font-size:14px;
  margin-top: 20px;
  color: #d64949;
}